[defaults]
inventory            = ./inventory/hosts.ini
remote_user          = adminlab
roles_path           = ./roles
collections_path     = ./collections
vault_password_file  = /home/adminlab/.vault_pass.txt
host_key_checking    = False
retry_files_enabled  = False
interpreter_python   = auto_silent
stdout_callback      = default
timeout              = 15

[privilege_escalation]
become          = True
become_method   = sudo
become_user     = root
become_ask_pass = False
